<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="Online Store">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/lib" source-path="/WebContent/WEB-INF/lib"/>
        <wb-resource deploy-path="/WEB-INF/css" source-path="/WebContent/css"/>
        <wb-resource deploy-path="/WEB-INF/images" source-path="/WebContent/images"/>
        <property name="context-root" value="Online_Store"/>
        <property name="java-output-path" value="/Online Store/bin"/>
    </wb-module>
</project-modules>
